body {
  margin: 0px auto;
  padding: 0px;
  background: #fff;
  font-size: 13px;
  line-height: 1.2;
  font-family: Verdana, Arial, sans-serif;
  height:100%;
}
.header {
  width: 100%;
  display: table;
  background-color: #ffffff;
  vertical-align: middle;
  text-align: right;
}
.titolo_modulo {
  font-family: Verdana, Arial, sans-serif;
  font-size: 25pt;
  font-weight: normal;
  line-height: 1.4;
  color: #000;
}
.sottotitolo_modulo {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
  color: #000;
}
.container {
  margin: 0 auto;
}
.modulo {
  padding: 12px;
  width: 100%;
}
.submit {
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  padding: 10px;
  height: 45px;
}
.bbreak {
  width: 100%;
  background-color: #c1092a;
  border: 0px;
  height: 4px;
  margin: 0px;
  text-align: center;
}
.avviso {
  vertical-align: middle;
  text-align: center;
  color: #f52323;
  font-size: 20px;
  font-weight: normal;
}
.contact {
  width: 100%;
  background-color: #252520;
  vertical-align: middle;
  color: white;
  line-height: 60px;
  height: 60px;
  text-align: center;
  vertical-align: center;
  padding: 0px;
  margin: 0px auto;
}
